*
.*
!README.md
!LICENSE
!pyproject.toml
!setup.cfg
!environment.yml
!run_data_example.csv
!.gitignore
!src/
!src/*
!src/oat/
!src/oat/*
!src/oat/gui/*
!src/oat/gui/*
!src/oat/cli/
!src/oat/cli/*
!src/oat/cli/envs/*
!src/oat/cli/references/*
!src/oat/cli/protocols/*
!src/oat/cli/protocols/**
!src/oat/cli/protocols/**/**
!src/oat/cli/scripts/*
src/oat/cli/scripts/bak/*
src/oat/cli/protocols/HCV-H2SEQ/*
src/oat/cli/protocols/CMV-TYRA-HONOURS/*
