*
.*
!README.md
!LICENSE
!pyproject.toml
!setup.cfg
!environment.yml
!run_data_example.csv
!.gitignore
!src/
!src/*
!src/oat/
!src/oat/*
!src/oat/gui/*
!src/oat/gui/*
!src/oat/cli/
!src/oat/cli/*
!oat/cli/envs/*
!oat/cli/references/*
!oat/cli/protocols/*
!oat/cli/protocols/**
!oat/cli/protocols/**/**
!oat/cli/scripts/*
oat/cli/scripts/bak/*
oat/cli/protocols/HCV-H2SEQ/*
