*
.*
!README.md
!LICENSE
!.gitignore
!oat/
!oat/*
!oat/envs/*
!oat/references/*
!oat/protocols/*
!oat/protocols/**
!oat/protocols/**/**
!oat/scripts/*
!setup.py
!environment.yml
!run_data_example.csv
oat/scripts/bak/*
